* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F28AB2;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.container {
  width: 400px;
  margin: auto;
  overflow: hidden;
  height: 100%;
}

.container .card {
  background-color: white;
  padding: 1.5rem;
  border-radius: 5px;
}
