// Color Variables
$primary-color: #F28AB2;
$secondary-color: #1c3fa8;
$dark-color: #002240;
$light-color: #f4f4f4;
$active-color: #e63946;
$success-color: #5cb85c;
$error-color: #d9534f;
$white-color: #fff;
$black-color: #000;

// Function for set the text color vase on background color

@function set-text-color($color) {
  @if (lightness($color) > 70) {
    @return $dark-color;
  } @else {
    @return $white-color;
  }
}

// Mixin for use the function

@mixin set-background($color) {
  background-color: $color;
  color: set-text-color($color);
}

@mixin set-transform($value) {
  transform: $value;
  -webkit-transform: $value;
  -moz-transform: $value;
  -ms-transform: $value;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $primary-color;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  margin: auto;
  overflow: hidden;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .card {
    width: 400px;
    background-color: white;
    padding: 1.5rem;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba($color: #000000, $alpha: .3);

    h3 {
      font-weight: 400;
      margin-bottom: 1rem;
    }

    .btn {
      width: 100%;
      padding: 0.7rem 1rem;
      cursor: pointer;
      border: none;
      outline: none;
      letter-spacing: .1rem;
      margin-top: .5rem;
    }

    .btn-primary {
      color: $white-color;
      background-color: $primary-color;
    }
  }
}

